name: "Add release draft"

on:
  push:
    branches:
      - master

jobs:
  release-draft:
    runs-on: ubuntu-18.04

    steps:
      - uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
