name: release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish-to-pypi:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8.3
      uses: actions/setup-python@v2
      with:
        python-version: 3.8.3

    - name: Set up Poetry
      uses: dschep/install-poetry-action@v1.3
      with:
        version: 1.0.9

    - name: Build and publish to pypi
      run: |
        poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
        poetry publish --build

  generate-change-log:
    runs-on: ubuntu-18.04

    steps:
    - name: Generate GITHUB release with changelog
      uses: release-drafter/release-drafter@v5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag: v1.0.4a
        publish: true
